asgiref==3.12.1
cryptography==50.0.1
django==6.1.1
django-cors-headers==4.9.0
djangorestframework==3.18.1
drf-spectacular==0.30.0
python-dotenv==1.2.3
sqlparse==0.6.0
tzdata==2026.4
uritemplate==4.2.0
PyYAML==6.0.3
jsonschema==4.26.0
cffi==2.1.1
